.container {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 800px;
    margin: auto;
    padding-bottom: 30px;
}

.filme {
    padding-bottom: 50px;
}

.rapidinha {
    font-style: italic;
    margin-bottom: 2px;
}

h1 {
    padding-top: 20px;
    padding-bottom: 50px;
    color: #505050;
}

h3 {
    color: #505050;
    margin-bottom: 15px;
}

p {
    color: #505050;
}

.onde_assistir {}

.pagination > li > a {
    background-color: white;
    color: #505050;
}

.pagination > .active > a {
    background-color: #FFB4A6 !Important;
    border: solid 1px #FFB4A6 !Important;
}

a {
    text-decoration: none !important
}

.sem_link {
    color: #009688;
}

.texto_rodape {
    margin-top: 25px;
    color: #909090;
}
