#carouselExampleControls {
    width: 704px;
    margin: auto;
}

.img-podcast {
    width: 350px;
    border-radius: 15px
}

nav > .nav-item {
    color: #FFB4A6;
}

nav > .active {
    color: #009688 !Important
}

#menus {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 60px;

}

.container {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 800px;
    margin: auto;
    padding-bottom: 30px;
}

#subtitulo {
    padding-bottom: 20px;
    opacity: 0.6;
    color: #25291c
}

#instagram {
    padding-bottom: 30px;
}


.filme {
    padding-bottom: 80px;
}

.rapidinha {
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    padding-top: 20px;
    padding-bottom: 10px;
    color: #25291c;
}

h3 {
    color: #25291c;
    margin-bottom: 15px;
}

p {
    color: #25291c;
}

.pagination > li > a {
    background-color: white;
    color: #25291c;
}

.pagination > .active > a {
    background-color: #FFB4A6 !Important;
    border: solid 1px #FFB4A6 !Important;
}

a {
    text-decoration: none !important
}

#rodape {
    padding-top: 20px;
}

.texto_rodape {
    color: #009688;
}


/* css do botão top*/

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
}
